body{
	background: #221a1a;
	color: #FFB703;
}





/* tombol di navbar*/

.login{
	height: 45px;
	width: 85px;
	background-color: #d3d3d3;
	border-radius: 7px;  
}





/*form info pembelian */

input[type=submit]{
	font-family: sans-serif;
    font-size: 15px;
    background: #fffff;
    color: #000000;
    width: 550px;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}









/* form login*/

#card1{
    background: white;
    color: black;
    border-radius: 8px;
    box-shadow: 1px 2px 8px black;
    height: 400px;
    margin: 80px auto 230px auto;
    width: 350px;
}

#card-content1{
    padding: 12px 44px;
}

#card-title1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.form{
    align-items: left;
    display: flex;
    flex-direction: column;
}

.form input{
    margin-bottom: 2px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(24, 24, 94, 0.733);
    font-size: 18px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tombol{
    background-color:rgba(255, 255, 0, 0.801);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    height: 40px;
    margin: 0 auto;
    width: 150px;
    padding:10px 20px;
    text-decoration:none;
    font-family:sans-serif;
    text-align: center;
    margin-top: 20px;
}
.tombol:hover{
    background:rgba(255, 255, 0, 0.767); 
    box-shadow: 0px 1px 10px lightslategray;
    
}






/* form pemesanan */

.pemesanan{

}

.pemesanan input[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFB703;
    color: white;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    width: 100%;

}

.pemesanan input[type=email]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFB703;
    color: white;
    font-size: 18px;
    outline: none;
    margin-bottom: 20px;
    width: 100%;

}

.pemesanan input[type=submit]{
    font-family: sans-serif;
    font-size: 15px;
    background: #fffff;
    color: #000000;
    width: 100%;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}